@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

$title-color: #e0dfd5;
$description-color: #e0dfd5;
$background-image: url(../img/dolo1.png);
$background-image2: url(../img/dolo2.png);
$background-image3: url(../img/scraper.png);
$font-stack-content: 'Montserrat', helvetica, arial, sans-serif;
$font-stack-header: 'Montserrat', helvetica, arial, sans-serif;
$secondary-color: #a33a15;

*,
*::before,
*::after {
  box-sizing: inherit;
}

// * {
//   transition: 0.4s;
// }

.movie-card {
  background-color: #000;
  background-image: $background-image;
  background-size: contain;
  background-repeat: no-repeat;
  width: 75%;
  max-width: 1200px;
  height: 300px;
  display: block;
  margin: 5vh auto;
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}

.movie-card:nth-child(2) {
  background-image: $background-image2;
}

.movie-card:nth-child(3) {
  background-image: $background-image3;
}

.color-overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(173, 216, 252, 0.2) 0%, rgba(33, 33, 32, 1) 30%, rgba(41, 50, 60, 1) 100%);
  background-blend-mode: multiply;
}

.movie-content {
  width: 65%;
  display: block;
  position: relative;
  float: right;
  padding-right: 1em;

  & .movie-title {
    font-family: $font-stack-header;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 400;
    color: $title-color;
    margin-bottom: 0.25em;
    opacity: 0.85;
  }

  & .movie-info {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8em;
    color: $secondary-color;
    line-height: 1;
    margin: 0;
    font-weight: 700;
    // opacity: 0.85;
  }

  & .movie-header {
    margin-bottom: 1.5em;
  }
  & .movie-desc {
    font-weight: 300;
    // opacity: 0.84;
    margin-bottom: 2em;
    color: $description-color;
  }
}

.btn {
  padding: 0.6em 1em;
  background-color: rgba(255, 255, 255, 0.2);
  color: $title-color;
  opacity: 0.75;
  // position: absolute;
  // top: 225px;
}

.btn-outline {
  background-color: transparent;
  border: 3px solid $title-color;
}

.btn::before {
  padding: 5px;
}

.btn-outline:hover {
  border-color: $secondary-color;
  color: $secondary-color;
}

@media (max-width: 1000px) {
  .movie-content {
    width: 50%;
    max-width: 95%;
  }
}

@media (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .movie-card,
  .movie-card:nth-child(2),
  .movie-card:nth-child(3) {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }

  .color-overlay {
    background: linear-gradient(
      to bottom,
      rgba(42, 159, 255, 0.2) 0%,
      rgba(33, 33, 32, 1) 60%,
      rgba(33, 33, 32, 1) 100%
    );
  }

  .movie-content {
    margin-top: 4.2em;
    width: 90%;
  }
}
