/* CSS - Greg P Church */

/* brown #5E503F
blue #2F394D
ecru #E0DFD5 
orange #f25d27    rgb(242, 93, 39)
dark orange  #d85322

light blue-grey #627486  
dark blue-grey  #29323c  */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Source+Sans+Pro|Open+Sans|Roboto+Slab|Merriweather');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #e0dfd5;
  font-family: 'Open-Sans', sans-serif;
}

p {
  margin: 0;
}

a {
  color: rgb(41, 50, 60);
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  color: #a33a15;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 33px;
  color: rgb(41, 50, 60);
}

h2 {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Roboto Slab', serif;
}

header {
  width: 100%;
  height: 100vh;
  /* z-index: 1000; */
  background: linear-gradient(to top right, #29323c, rgb(98, 116, 134));
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 22px;
  border: 9px solid #a33a15;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);

  /* opacity: 0.8; */
}

.spin {
  animation: spin 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359.999deg);
  }
}

/* @keyframes spin {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
} */

.small-text {
  text-align: justify;
}

.hero {
  align-content: center;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-statement {
  color: #e0dfd5;
  text-shadow: 3px 3px 3px #29323c;
  letter-spacing: 0.5px;
}

/* .middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
} */

.logo a {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 12px 46px;
  color: #e0dfd5;
  font-weight: bold;
  font-size: 30px;
  /* letter-spacing: 1px; */
  /* text-shadow: 3px 3px 3px rgba(150, 150, 150, 1); */
}

.logo a.scroll {
  color: #e0dfd5;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 50px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #29323c;
}

nav ul li {
  display: inline-block;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: #e0dfd5;
  font-weight: 400;
}

nav.scroll ul li a {
  color: #e0dfd5;
}

nav.scroll ul li a:hover {
  transition: 0.2s;
  color: #d85322;
}

.menu-icon {
  line-height: 50px;
  width: 100%;
  background: #29323c;
  text-align: right;
  padding: 15px 24px 8px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.content {
  width: 80%;
  margin: 4em auto;
  /* font-size: 20px;
  line-height: 30px;
  text-align: justify;
  font-weight: 300; */
}

.resume-container {
  /* width: 100%;
  height: 100%; */
  background-color: #fff;
  padding: 40px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  font-family: 'Merriweather', serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.resume-greg {
  font-size: 38px;
  color: #f25d27;
  font-weight: 700;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.resume-dev {
  justify-content: flex-start;
  align-items: flex-end;
}

.resume-right {
  margin-left: auto;
  text-align: right;
  list-style: none;
  align-items: flex-start;
}

.resume-section-header {
  color: #f25d27;
  font-size: 24px;
  margin-bottom: 3px;
}

.resume-small-grey {
  color: #666;
  font-size: 18px;
}

.ulist {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f25d27;
  margin-left: 1em auto;
  padding: 3px;
}

.vertical {
  border-left: 3px solid #29323c;
  margin: 0 10px 0 4px;
  transform: rotate(45deg);
}

.contact-container {
  /* height: 70vh; */
  background: linear-gradient(to top right, #29323c, rgb(98, 116, 134));
  padding: 45px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  display: flex;
}

.contact-body {
  justify-content: flex-start;
  width: 50%;
  /* margin: 10px; */
  padding: 20px;
  background-color: #e0dfd5;
}

.contact-form {
  justify-content: flex-start;
  width: 50%;
  /* margin: 10px; */
  padding: 20px;
  background-color: #e0dfd5;
}

input[type='text'],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

footer {
  padding: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    color: #fff;
    margin: 10px 0 0 15px;
  }

  nav ul {
    max-height: 0px;
    background: #29323c;
    padding-right: 0;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    /* box-sizing: border-box; */
    width: 100%;
    padding: 24px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
  }
  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
  }

  /* .content {
    width: 100%;
    justify-content: center;
  } */
}
