/* CSS - Greg P Church */

/* brown #5E503F
blue #2F394D
ecru #E0DFD5 
orange #f25d27    rgb(242, 93, 39)
dark orange  #d85322

light blue-grey #627486  
dark blue-grey  #29323c  */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab|Merriweather');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #e0dfd5;
  font-family: 'Roboto Slab', sans-serif;
}

p {
  margin: 0;
}

a {
  color: rgb(41, 50, 60);
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  color: #a33a15;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 33px;
  color: rgb(41, 50, 60);
}

h2,
h3 {
  font-family: 'Roboto Slab', serif;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, #29323c, rgb(98, 116, 134));
  display: flex;
  justify-content: center;
}

.main-image {
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 22px;
  border: 9px solid #a33a15;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);

  /* opacity: 0.8; */
}

.spin {
  animation: spin 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359.999deg);
  }
}

.small-text {
  text-align: justify;
}

.hero {
  align-content: center;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-statement {
  color: #e0dfd5;
  text-shadow: 3px 3px 3px #29323c;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main-description-header {
  color: #e0dfd5;
  text-shadow: 3px 3px 3px #29323c;
  letter-spacing: 0.5px;
  padding-right: 1px;
  font-size: 22px;
}

.main-description-text {
  color: #e0dfd5;
  font-size: 18px;
  text-align: justify;
}

.social {
  margin-top: 20px;
  margin-bottom: 25px;
}

.social a {
  margin-top: 20px;
  padding: 0 10px 0 10px;
  color: #e0dfd5;
}

.social a:hover {
  transition: 0.2s;
  color: #a33a15;
}

.logo a {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  text-decoration: none;
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 12px 46px;
  color: #e0dfd5;
  font-weight: bold;
  font-size: 30px;
  /* letter-spacing: 1px; */
  text-shadow: 3px 3px 3px #29323c;
}

.logo a.scroll {
  color: #e0dfd5;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 50px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  z-index: 1000;
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #29323c;
}

nav ul li {
  display: inline-block;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: 500;
}

nav ul li:hover {
  background-color: #516170;
}

nav ul li a {
  text-decoration: none;
  color: #e0dfd5;
  font-weight: 400;
  text-shadow: 2px 2px 2px #29323c;
  padding: 10px 10px 10px 10px;
}

nav.scroll ul li a {
  color: #e0dfd5;
}

nav.scroll ul li a:hover {
  transition: 0.2s;
  color: #d85322;
}

.menu-icon {
  line-height: 50px;
  background: #29323c;
  text-align: right;
  padding: 15px 24px 8px;
  cursor: pointer;
  color: #e0dfd5;
  display: none;
}

.content {
  width: 80%;
  margin: 4em auto;
  /* font-size: 20px;
  line-height: 30px;
  text-align: justify;
  font-weight: 300; */
}

.resume-container {
  background-color: #fff;
  padding: 40px 50px 70px 50px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  font-family: 'Merriweather', serif;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.resume-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.resume-greg {
  font-size: 38px;
  color: #f25d27;
  font-weight: 700;
}

.resume-dev {
  color: #666;
  font-size: 18px;
}

.resume-right ul {
  text-align: right;
  list-style: none;
  margin-top: 0;
}

.resume-section-header {
  color: #f25d27;
  font-size: 24px;
  margin-bottom: 3px;
  /* justify-content: flex-start; */
}

.resume-small-grey {
  color: #666;
  font-size: 16px;
}

.ulist {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f25d27;
  margin-left: 1em auto;
  padding: 3px;
}

/* .vertical {
  border-left: 3px solid #29323c;
  margin: 0 10px 0 4px;
  transform: rotate(45deg);
} */

.contact-container {
  /* height: 70vh; */
  background: linear-gradient(to top right, #29323c, rgb(98, 116, 134));
  padding: 45px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-body {
  /* justify-content: flex-start; */
  padding: 45px;
  background-color: #e0dfd5;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
}

input[type='text'],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #fff;
  font-size: large;
}

.contact-btn {
  margin: 0 0 15px 0;
  padding: 0.6em 1.5em;
  background-color: rgba(255, 255, 255, 0.2);
  color: #29323c;
  opacity: 0.75;
  font-size: 18px;
  float: right;
}

.contact-btn-outline {
  background-color: transparent;
  border: 3px solid #29323c;
}

.contact-btn-outline:hover {
  border-color: #d85322;
  color: #d85322;
}

footer {
  margin-top: 80px;
  padding: 50px;
  color: #e0dfd5;
  font-size: 14px;
  background: linear-gradient(to top right, #29323c, rgb(98, 116, 134));
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
}

footer p {
  opacity: 0.8;
  font-weight: 200;
}

#scroll-home {
  position: fixed;
  right: 0px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #29323c;
  text-indent: -9999px;
  display: none;
  border-radius: 60px;
}
#scroll-home span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll-home:hover {
  background-color: #d85322;
  opacity: 1;
  filter: 'alpha(opacity=100)';
}

.tiny-grey {
  font-size: 10px;
  color: #666;
}

/* ================ Larger Screens =================  */
@media (max-width: 1120px) {
  /* .hero {
    flex-direction: column;
    flex-wrap: wrap;
  } */

  nav {
    top: 0;
  }
}

/* ================ Tablet Screens =================  */

@media (max-width: 860px) {
  .logo a {
    font-size: 22px;
    margin: 0;
  }

  .logo {
    position: fixed;
    top: 0;
    color: #fff;
    margin: 10px 0 0 15px;
  }

  nav ul {
    max-height: 0px;
    background: #29323c;
    padding-right: 0;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    /* box-sizing: border-box; */
    width: 100%;
    padding: 24px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
  }
  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
  }

  header {
    /* overflow: auto; */
    padding-bottom: 180px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .main-image {
    width: 260px;
    /* shape-outside: none; */
  }

  h1.main-statement {
    /* justify-content: flex-start; */
    font-size: 24px;
  }

  h3 {
    font-size: 17px;
  }

  .content {
    width: 95%;
    /* justify-content: flex-start; */
  }

  .flex2 {
    width: 100%;
  }

  .resume-greg {
    font-size: 28px;
    color: #f25d27;
    font-weight: 700;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }

  .resume-dev {
    width: 100%;
  }

  .resume-right {
    justify-content: flex-start;
  }

  .resume-right ul {
    text-align: left;
    list-style: none;
    justify-content: flex-start;
  }

  .contact-container {
    padding: 15px;
  }

  .contact-body {
    padding: 25px;
    background-color: #e0dfd5;
    box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  }

  .resume-small-grey {
    color: #666;
    font-size: 14px;
  }

  ul li {
    font-size: 14px;
  }

  #scroll-home {
    right: 5px;
    bottom: 5px;
  }
}

/* ================ Small Screens =================  */

@media (max-width: 480px) {
  header {
    height: auto;
  }

  .main-image {
    shape-outside: none;
    margin-top: 550px;
  }

  .main-image {
    width: 260px;
    /* shape-outside: none; */
  }
}
