/* CSS - Greg P Church */

/* brown #5E503F
blue #2F394D
ecru #E0DFD5 
orange #f25d27    rgb(242, 93, 39)

dark orange  #a33a15  */

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Playfair+Display|Roboto+Condensed|Roboto+Slab|Merriweather');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #e9e9e9;
  font-family: 'Roboto-Condensed', sans-serif;
}

a {
  color: #a33a15;
  text-decoration: none;
}

a:hover {
  transition: 0.2s;
  color: #d85322;
}

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top right, #2f394d, #e0dfd5);
  /* background-size: cover; */
  display: flex;
  justify-content: center;
}

.image {
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin: 20px;
  border: 9px solid #a33a15;

  /* opacity: 0.8; */
}

.spin {
  animation: spin 0.3s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359.999deg);
  }
}

.small-text {
  text-align: justify;
}

.hero {
  align-content: center;
  width: 80%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
} */

.logo a {
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 12px 46px;
  color: #2f394d;
  font-weight: bold;
  font-size: 30px;
  /* letter-spacing: 1px; */
  /* text-shadow: 3px 3px 3px rgba(150, 150, 150, 1); */
}

.logo a.scroll {
  color: #e0dfd5;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 50px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
}

nav ul {
  line-height: 50px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #2f394d;
}

nav ul li {
  display: inline-block;
  padding: 16px 30px;
  font-size: 18px;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
  color: #2f394d;
  /* font-size: 16px; */
}

nav.scroll ul li a {
  color: #e0dfd5;
}

nav.scroll ul li a:hover {
  transition: 0.2s;
  color: #d85322;
}

.menu-icon {
  line-height: 50px;
  width: 100%;
  background: rgb(71, 126, 245);
  text-align: right;
  padding: 15px 24px 8px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.content {
  width: 80%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  font-weight: 300;
}

.resume-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 9px 8px 34px -7px rgba(0, 0, 0, 0.35);
  font-family: 'Merriweather', serif;
  display: flex;
  flex-wrap: wrap;
}

.resume-greg {
  font-size: 38px;
  color: #f25d27;
  font-weight: 700;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.resume-dev {
  justify-content: flex-start;
  align-items: flex-end;
}

.resume-right {
  margin-left: auto;
  text-align: right;
  list-style: none;
  align-items: flex-start;
}

.resume-section-header {
  color: #f25d27;
  font-size: 24px;
}

.resume-small-grey {
  color: #666;
  font-size: 18px;
}

.hr {
  width: 100%;
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #f25d27;
  margin-left: 1em auto;
  padding: 3px;
}

footer {
  padding: 50px;
  display: flex;
  justify-content: center;
}

@media (max-width: 786px) {
  .logo {
    position: fixed;
    top: 0;
    color: #fff;
    margin: 10px 0 0 15px;
  }

  nav ul {
    max-height: 0px;
    background: rgb(71, 126, 245);
    padding-right: 0;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    /* box-sizing: border-box; */
    width: 100%;
    padding: 24px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #fff;
  }
  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
  }
}
